@import "../../styles/breakpoint";

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 120px;
  @include lg {
    min-height: 100vh;
    margin-top: 140px;
  }
  h1 {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    font-weight: 400;
    margin-inline: auto;
    max-width: 1260px;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: calc(4rem * 1.2);
    cursor: default;
    span {
      display: inline-block;
      transform-origin: bottom;
    }
    @include lg {
      font-size: 15.625rem;
      line-height: calc(15.625rem / 2);
      margin-top: calc(15.625rem / 2);
      margin-bottom: calc(15.625rem / 2);
    }
    @include xxl {
      margin-top: 10.937rem;
      margin-bottom: 10.937rem;
      max-width: 1560px;
      font-size: 21.875rem;
      line-height: 10.937rem;
    }
  }
}

.heading {
  margin-inline: auto;
  @include lg {
    margin-bottom: 100px;
  }
  svg {
    width: 60vw;
    path {
      fill: transparent;
      stroke-dasharray: 1260px;
      stroke: black;
    }
  }
}

.grid {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  // margin-top: 50px;
  gap: 50px;
  @include lg {
    gap: 100px;
    flex-direction: column-reverse;
    // margin-top: 130px;
  }
  @include xxl {
    padding-inline: 0px;
    gap: 140px;
  }
  &_logos {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include lg {
      gap: 20px;
    }
  }
  &_logo {
    width: 100%;
    height: 45px;
    object-fit: fill;
    padding: 8px;
    @include lg {
      padding: 24px 40px;
      width: 100%;
      height: 100px;
    }
    @include xxl {
      padding: 1.5vw 3vw;
      width: 100%;
      height: 6.7vw;
    }
  }
  &_para {
    position: relative;
    font-family: cream;
    padding-inline: 20px;
    z-index: 1;
    
    @include lg {
      padding-inline: 40px;
    }
    p {
      font-size: 2rem;
      line-height: calc(1.5rem * 1.5);
      font-weight: 700;
      text-align: center;
      margin-top: 40px;
      
      @include lg {
        margin-top: 0px;
        font-size: 4rem;
        line-height: calc(5rem * 1.2);
        span {
          font-size: 2.4rem;
          line-height: calc(2.4rem * 1.2);
        }
      }
      @include xxl {
        font-size: 4.6vw;
        line-height: calc(4.6vw * 1.2);
        span {
          font-size: 2.4vw;
          line-height: calc(2.4vw * 1.2);
        }
      }
    }
    &_hide {
      position: absolute;
      z-index: -1;
      color: white;
      inset: 0;
      height: 100%;
      width: 100%;
      padding-inline: 20px;
      @include lg {
        padding-inline: 40px;
      }

    }
    
  }
}

.pathOne {
  position: absolute;
  top: -40px;
  left: -2%;
  @include lg {
    top: -162px;
  }
  @include xxl {
    top: -15%;
  }
  svg {
    width: 36vw;
    height: 36vw;
  }
}

.pathTwo {
  position: absolute;
  top: 210px;
  right: -8%;
  svg {
    width: 28vw;
    height: 28vw;
  }
}

.tag {
  position: absolute;
  z-index: 2;
  transform: translateY(-50%) rotate(270deg);
  top: 50%;
  left: -55px;
  font-size: 2.5rem;
  line-height: calc(2.5rem * 1.2);
}

.shapeBox {
  position: absolute;
  // background-color: red;
  height: 100vh;
  width: 100%;
  top: 0%;
  right: 0%;
  div {
    position: absolute;
    bottom: 0%;
    transform: scale(1) translateX(-100%);
  }
}
